.hero-wrapper {
  display: flex;
  height: 270px;
  color: var(--color-white);
  justify-content: center;
  text-align: center;
  align-items: center;
}
.hero-text{
    font-size: 32px;
    line-height: 48px;
}
.hero-image {
  height: 212px;
}
